---
// import components
import BaseHead from './BaseHead.astro';
import './../styles/tailwind.css';
// pass props
const {title, description} = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
    />
  </head>
  <body
    class="
      text-white
      bg-gray-900
      leading-7
      text-lg
    "
    >
    <main
      class="
        max-w-[1200px]
        mx-auto
        p-8
      "
    >
      <slot />
    </main>
  </body>
</html>
